@model SCI.App.ViewModels.LivroViewModel

@{
    ViewData["Title"] = "Detalhe do Livro - " + Model.Titulo;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Venda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Venda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Custo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Custo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Base_Calc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Base_Calc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formatado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formatado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NPaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NPaginas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edicao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resenha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resenha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Est_Min)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Est_Min)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Est_Disp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Est_Disp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtDoac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtDoac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtCons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtCons)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtVend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtVend)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>
