@model IEnumerable<SCI.App.ViewModels.LivroViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Inc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Alt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Hab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Custo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_Calc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formatado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Est_Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Est_Disp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtDoac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtCons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtVend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Inc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Alt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Hab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Venda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Custo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_Calc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formatado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Est_Min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Est_Disp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtDoac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtCons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtVend)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
